
<p>
  <button type="button" onclick="displayMembership()" class="btn btn-primary">Display Membership Code</button>
</p>
<!-- <button type="button" onclick="displayCurrentMember()" class="btn btn-primary">Find Customer By Id</button> -->
<div id="member_qrcode"></div>

<div id="cust_email" style="display: none;">{{ customer.email }}</div>
<div id="cust_id" style="display: none;">{{ customer.id }}</div>
