<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://customer-profile.herokuapp.com/assets/application-1158d257ad5c5f8412a0078ecfe9bb66c7cca14955e2da8517249b51bd6c4bdc.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- bootstrap centralize-->
<div class="container">
	<%= yield %>
</div>

</body>
</html>
