<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://customer-profile.herokuapp.com/assets/application-3715bc798c74dc3356682057d74cb2606142f086ffebf27fbea57dbf0519fee0.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- bootstrap centralize-->
<div class="container">
	<%= yield %>
</div>

</body>
</html>
