<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://customer-profile.herokuapp.com/assets/application-09afaf0a9b94a76324c493e4aaf0e8d273d9d3efce39928636957429ae6f9373.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- bootstrap centralize-->
<div class="container">
	<%= yield %>
</div>

</body>
</html>
