<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://customer-profile.herokuapp.com/assets/application-c96c366754141fb469b461aa857fb4bc330bb04a92ba76530e07476804c301a2.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- bootstrap centralize-->
<div class="container">
	<%= yield %>
</div>

</body>
</html>
