<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://customer-profile.herokuapp.com/assets/application-fe4f375d1b5f72292e284437c5bb4a706261465da60f30d9d6b18ef5807331dc.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- bootstrap centralize-->
<div class="container">
	<%= yield %>
</div>

</body>
</html>
